{% extends 'base.html' %}

{% block title %}
  About | {{super()}}
{% endblock %}

{% block content %}
  <h1>This site currently doesn't exist.</h1>

  <p>
    In fact, it's probably a social experiment.  That's just the sort of thing I can imagine happening.  Isn' it terrible!  Argh!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget ante ac mauris accumsan pharetra et quis lorem. Praesent in tincidunt dolor. Phasellus mattis mauris id libero sodales, ac dictum sem tempus. <a href="https://google.com">Suspendisse</a> potenti. Aenean eleifend fringilla feugiat. Mauris sed eros aliquam augue dictum euismod ac in odio. Mauris congue fermentum risus, ac sodales elit bibendum eu. Aliquam et libero ac massa fermentum cursus vitae at ante. Aenean et blandit massa. In porta nisi eget velit imperdiet, ut dapibus tellus iaculis. Nam sit amet gravida augue. Pellentesque suscipit lacinia urna, et rhoncus velit facilisis ut. Quisque maximus condimentum ornare.
  </p>
  <p>
    Quisque vulputate neque sit amet vulputate maximus. Integer non justo nisi. Integer iaculis elementum arcu, cursus dignissim tortor rhoncus ac. Nam luctus accumsan nibh nec bibendum. <strong>Donec magna dui</strong>, euismod eu eleifend non, porta <strong>elementum</strong> dui. Cras finibus, velit in tristique vulputate, ex arcu interdum urna, sollicitudin sollicitudin sem nisl nec mi. Nam in neque dapibus ligula mattis convallis non ut odio. Fusce a neque tristique, accumsan neque eget, sagittis urna. Vivamus lobortis est scelerisque <em>risus ultrices, vitae vehicula</em> dui suscipit. Aliquam tincidunt vestibulum elementum. Integer facilisis vel diam eget sollicitudin.
  </p>
  <p>
    Vivamus leo diam, consectetur nec ante non, dapibus gravida augue. Cras id lobortis metus, sit amet vulputate ex. Curabitur ut tempus tellus. Integer suscipit vitae ex ut imperdiet. <strong>Class</strong> aptent taciti sociosqu ad litora torquent per conubia nostra, per <strong>inceptos</strong> himenaeos. Nam finibus semper odio eget porttitor. Morbi vel mauris ut turpis hendrerit <a href="https://google.com">accumsan</a> sed et leo. Vestibulum non accumsan nisi. Mauris eleifend, erat ut tempus consectetur, felis magna pharetra leo, vitae egestas libero nisl quis eros. Phasellus tempus ornare nisl, in eleifend felis accumsan rhoncus. Nullam dapibus tristique risus sit amet ultricies. Vivamus a lobortis libero. Nunc ornare sem libero, at tristique ex aliquet id. Duis varius, elit et ullamcorper maximus, diam dolor pulvinar nisl, et maximus turpis purus et tortor. Vestibulum consequat nisi pretium ex aliquam, eu imperdiet felis feugiat. In hac habitasse platea dictumst.
  </p>
{% endblock %}
