$light-grey: #e1e1e1;
$dark-grey: #333;
$primary-color: #ee6e73;
$secondary-color: lighten($dark-grey, 13.5%);
$border-color: #bbb;
$link-color: #6eb3ee;
$font-color: #191919;
$background-color: #fff;

$error-color: #f00;

$font-family: 'Cabin', sans-serif;
$header-family: 'Ubutu', sans-serif;

