{% extends 'base.html' %}

{% block content %}
  <h1>New System</h1>

  <div class="card-container">
    <div class="card">
      <div class="card-boxed">
        <form method="POST">
          <h2>
            Question:
            <input type="text" placeholder="...?"
                   name="text" {% if question is defined %}value="{{question.text}}"{% endif %}/>
          </h2>

          <h3>Description</h3>
          <textarea name="desc">{% if question is defined -%}
            {{question.description}}
          {%- endif %}</textarea>

          {% macro answer_template(answer=None) %}
            <div data-id="{{answer.id if answer else 'new0'}}">
              <input type="text"
                {% if answer %}
                  name="answer-{{answer.id}}-text"
                  value="{{answer.text}}"
                {% else %}
                  name="answer-new0-text"
                {% endif %}>
              <a href="javascript:void(0)" onclick="deleteAnswer(this.parentElement)"
                class="shadow fa fa-times"></a>
              {% for system in systems %}
                <div>
                  <input type="checkbox" value="{{system.id}}"
                    {% if answer and system in answer.systems -%}checked{%- endif %}
                    {% if answer -%}
                      id="{{answer.id}}-{{system.id}}" name="answer-{{answer.id}}-sys"
                    {%- else -%}
                      id="new0-{{system.id}}" name="answer-new0-sys"
                    {%- endif %}>
                  <label
                    {% if answer -%}
                      for="{{answer.id}}-{{system.id}}"
                    {%- else -%}
                      for="new0-{{system.id}}"
                    {%- endif %}>
                    {{system.name}}
                  </label>
                </div>
              {% endfor %}
            </div>
          {% endmacro %}
          <script type="text/template" id="answers-template">{{ answer_template(None) }}</script>

          <h3>Answers</h3>
          <div id="answers-block">
            {% if question is defined %}
              {% for answer in question.answers %}
                {{ answer_template(answer) }}
              {% endfor %}
            {% endif %}
            {{ answer_template(None) }}
            <a href="javascript:void(0)" onclick="newAnswer()"><br />New Answer</a>
          </div>
          <input type="submit" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  {% assets 'js.admin' %}<script src="{{base_url}}/{{ASSET_URL}}"></script>{% endassets %}
{% endblock %}
