<!DOCTYPE html>
<html>

  <head>
    {% block head %}
      <title>{% block title %}{{site_name}}{% endblock %}</title>
      <link href='http://fonts.googleapis.com/css?family=Cabin:400,600|Ubuntu:700|Droid+Serif' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="{{base_url}}/static/css/main.css">
    {% endblock %}
  </head>

  <body>
    <div id="page-wrap">
      {% block header %}
      <div id="site-header">
        <header id="header-title">
          <a id="header-link" href="{{base_url}}/"><h1>{{site_name | dewidow}}</h1></a>
        </header>
        <nav id="header-navbar">
          <ul>
            <li><a href="{{base_url}}/quiz">Take the Quiz</a></li>
            <li><a href="{{base_url}}/systems">About the Systems</a></li>
            <li><a href="{{base_url}}/about">About This Site</a></li>
          </ul>
        </nav>
      </div>
      {% endblock %}

      <content id="site-content">
        {% block content %}{% endblock %}
      </content>
    </div>

    <div class="clearfix"></div>

    <footer id="site-footer">
      {% block footer %}
        Created by the Coalition for Changing Votes
      {% endblock %}
    </footer>

    {% block scripts %}
      <script src="{{base_url}}/static/js/libVoting.js"></script>
      <script>{% include 'static/js/comedy_logger.js' %}</script>
    {% endblock %}
  </body>

</html>
